@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-image: url(img/fundo-de-textura-preta.jpg);
    background-size: cover;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 500px;
    margin-top: 200px;
    padding: 30px;
    height: 230px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 70px 70px 10px 10px;
    backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 30px 0 #c26732;
    color: white;
    box-sizing: border-box;
}

h1 {
    margin-top: 25px;
    text-align: center;
    color: #ffffff;
    font-size: 23px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    border-radius: 30px;
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #c26732;
    color: white;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #884608;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    color: black;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

li button {
    background-color: #dc3545;
}

li button:hover {
    background-color: #c82333;
}

#mensagem-vazia {
    text-align: center;
    color: #7c7c7c;
    display: none;
}

